<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cliente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICuentaUsuarioServiceMgt">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IChatServiceDuplex">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ISalaServiceDuplex">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IAmigosServiceMgt">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ISalaService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IJuegoServiceDuplex">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8081/BuscaminasServicio"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatServiceDuplex"
        contract="ServidorBuscaminasServicio.IChatServiceDuplex" name="NetTcpBinding_IChatServiceDuplex">
        <identity>
          <userPrincipalName value="HP-ENVY-GRIS\YC-ADM" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/BuscaminasServicio"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISalaServiceDuplex"
        contract="ServidorBuscaminasServicio.ISalaServiceDuplex" name="NetTcpBinding_ISalaServiceDuplex">
        <identity>
          <userPrincipalName value="HP-ENVY-GRIS\YC-ADM" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/BuscaminasServicio"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJuegoServiceDuplex"
        contract="ServidorBuscaminasServicio.IJuegoServiceDuplex" name="NetTcpBinding_IJuegoServiceDuplex">
        <identity>
          <userPrincipalName value="HP-ENVY-GRIS\YC-ADM" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/BuscaminasServicio"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISalaService"
        contract="ServidorBuscaminasServicio.ISalaService" name="NetTcpBinding_ISalaService">
        <identity>
          <userPrincipalName value="HP-ENVY-GRIS\YC-ADM" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/BuscaminasServicio"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAmigosServiceMgt"
        contract="ServidorBuscaminasServicio.IAmigosServiceMgt" name="NetTcpBinding_IAmigosServiceMgt">
        <identity>
          <userPrincipalName value="HP-ENVY-GRIS\YC-ADM" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/BuscaminasServicio"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICuentaUsuarioServiceMgt"
        contract="ServidorBuscaminasServicio.ICuentaUsuarioServiceMgt"
        name="NetTcpBinding_ICuentaUsuarioServiceMgt">
        <identity>
          <userPrincipalName value="HP-ENVY-GRIS\YC-ADM" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <userSettings>
    <Cliente.Properties.Settings>
      <setting name="languajeCode" serializeAs="String">
        <value>en-US</value>
      </setting>
    </Cliente.Properties.Settings>
  </userSettings>
</configuration>